/**********************************
 * Footer design.                 *
 **********************************/
#navfooter {
    background-color: #37474F;
    bottom: 0;
    color: #98A0A5;
    font-size: 14px;
    height: 70px;
    overflow: hidden;
    margin: 0;
    padding: 25px 0 0 0;
    position: fixed;
    text-align: center;
    visibility: visible;
    width: 100%;
}