/**********************************
 * Contents section.              *
 **********************************/
#contents {
    background-color: #dddddd;
    height: auto;
    min-height: 100%;
    padding: 60px 0 100px 0; 
}

/**********************************
 * Search bar section.            *
 **********************************/
#searchBarSection {
    background-color: white;
    height: 80px;
    margin: 0 12.5% 50px 12.5%;
    padding: 15px 10px;
}

#searchBar {
    border: none;
    font-family: 'Cagliostro';
    font-size: 20px;
    height: 50px;
    margin: 0;
    outline: none;
    padding-left: 10px;
    width: 95%;
}

#searchButton {
    float: left;
    height: 50px;
    margin: 0;
    padding: 3px 0 0 0px;
    width: 50px;
}

#searchButton > i {
    border-radius: 25px;
    padding: 10px;
}

#searchButton > i:hover {
    background-color: #cecece;
    cursor: pointer;
}

/**********************************
 * Search bar suggestions.        *
 **********************************/
#searchSuggestions {
    background-color: white;
    font-size: 22px;
    height: 30px;
    width: 75%;
    position: absolute;
    text-align: left;
}

.suggestion {
    background-color: #b1bcc4;
    height: 80px;
    margin-left: -2.5%;
    width: 105%;
}

.suggestion.selected {
    background-color: #8db0c9;
    margin-left: -5%;
    width: 110%;
}

.suggestion:hover {
    background-color: #8db0c9;
    cursor: pointer;
    margin-left: -5%;
    width: 110%;
}

.suggestionImageBlock {
    background-color: #848c92;
    float: left;
    height: 80px;
    text-align: center;
    width: 10%;
}

.suggestionImage {
    max-height: 80px;
    max-width: 95%;
}

.suggestionName {
    float: left;
    height: 50px;
    padding: 15px 0 0 15px;
    width: 90%;
}

.suggestionCompleted {
    float: left;
    font-size: 14px;
    height: 30px;
    padding: 0px 0 0 15px;
    width: 90%;
}

#noMatches {
    background-color: #b1bcc4;
    height: 50px;
    margin-left: -2.5%;
    padding-top: 10px;
    text-align: center;
    width: 105%;
}

.viewMore {
    background-color: #b1bcc4;
    height: 50px;
    margin-left: -2.5%;
    padding-top: 10px;
    text-align: center;
    width: 105%;
}

.viewMore.selected {
    background-color: #8db0c9;
    font-size: 25px;
    height: 60px;
    margin-left: -5%;
    padding-top: 15px;
    text-decoration: underline;
    width: 110%;
}

.viewMore:hover {
    background-color: #8db0c9;
    cursor: pointer;
    font-size: 24px;
    height: 60px;
    padding-top: 15px;
    margin-left: -5%;
    text-decoration: underline;
    width: 110%;
}

/**********************************
 * Stats section.             *
 **********************************/
#statsSection {
    background-color: white;
    height: 520px;
    margin: 0 12.5% 0px 12.5%;
    padding: 15px 10px;
}

.statsItem {
    margin: 0 5%;
    width: 90%;
}

#statsTitle {
    border-bottom: solid 2px black;
    font-size: 20px;
    margin: 10px 5%;
    padding: 10px 0;
    text-align: center;
}

#platformSection {
    border-bottom: solid 2px black;
    float: left;
    height: auto;
    padding-bottom: 5px;
}

.platform {
    border-bottom: solid 2px white;
    float: left;
    font-size: 16px;
    margin: 10px 0;
    text-align: center;
    width: 16.667%;
}

.platform.active {
    border-bottom: solid 2px #4db6ac;
}

.platform:hover {
    border-bottom: solid 2px #4db6ac;
    cursor: pointer;
}

#totalGames {
    background-color: #acec00;
}

#completedGames {
    background-color: #00bbd6;
}

.stat {
    border: 0px;
    border-radius: 5px;
    color: black;
    float: left;
    font-size: 14px;
    margin: 50px 0 0 6.25%;
    padding: 55px 5px;
    text-align: center;
    width: 25%;
}

.statNum {
    display: block;
    font-size: 40px;
}

#buttonDiv {
    float: left;
    margin-top: -30px;
    text-align: center;
    width: 100%;
}

#platformButton {
    background-color: #00eeba;
    border: 0px;
    border-radius: 20px;
    color: black;
    font-family: 'Cagliostro';
    font-size: 20px;
    outline: none;
    padding: 10px;
    width: 25%;
    text-align: center;
}

#platformButton:hover {
    background-color: #00b991;
    cursor: pointer;
}

/**********************************
 * Percentage donut chart.        *
 **********************************/
#percentage {
    float: left;
    margin: 60px 0 0 6.25%;
}

svg {
    margin: -80px 0 0 5px;
}

.circle_animation {
    stroke-dasharray: 0 100;
    stroke-dashoffset: 25;
}

#chartText {
    font-size: 10px;
    text-anchor: middle;

    -moz-transform: translateY(0.4em);
    -ms-transform: translateY(0.4em);
    -webkit-transform: translateY(0.4em);
    transform: translateY(0.4em);
}