/**********************************
 * Contents section.              *
 **********************************/
#contents {
    background-color: #dddddd;
    height: auto;
    min-height: 100%;
    padding: 60px 0 100px 0; 
}

/**********************************
 * Results section.               *
 **********************************/
#results {
    height: auto;
    margin: 0 12.5%;
}

.result {
    background-color: white;
    height: 200px;
    margin-bottom: 30px;
    width: 100%;

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.result:hover {
    background-color: #8db0c9;
    cursor: pointer;
    height: 220px;
    margin: -10px 0 20px -2.5%;
    padding: 10px;
    width: 105%;

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

/**********************************
 * Image section.                 *
 **********************************/
.imageSection {
    float: left;
    height: 100%;
    text-align: center;
    white-space: nowrap;
    width: 15%;
}

.helper {
    display: inline-block;
    height: 100%;
    margin-left: -6px;
    vertical-align: middle;
}

.imageSection > img {
    max-height: 95%;
    max-width: 95%;
    vertical-align: middle;
}

/**********************************
 * Information section.           *
 **********************************/
.infoSection {
    display: table-cell;
    float: left;
    height: 100%;
    padding: 50px 0 0 15px;
    vertical-align: middle;
    width: 85%;
}

.name {
    font-size: 45px;
}

.completed {
    font-size: 25px;
}